* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Urbanist', sans-serif; color: rgb(0, 0, 0);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
}
header {
    width: 100%;
    height: 60px;
    background: rgb(0, 0, 0);
    color: #fff;

    position: fixed;
    top:0%;
    left: 0%;
    z-index: 100;
}

header img {
    float: left;
    width: 260px;
    height: auto;
    margin-left: 15px;
    margin-top: 5px;
}
.contenido{
    width: 100%;
    margin: auto;
}

@media (min-width:1024px){
    .contenido{
        width: 1300px;
    }
}
.menu a:hover {
    background: rgba(51, 51, 51, 0.5);
}

.menu a {
    position: static;
    width: auto;
    float: right;
    padding: 15px;
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
section{
    font-size: 20px;
    text-align: center;
}

.formulario {
    width: 45%;
    margin: auto;
    font-size: 20px;
    padding: 1rem;
}
@media (max-width:1024px){
    .formulario{
        width: 100%;
    }   
}
.footer {
    background: #333;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 2rem;
    font-size: 20px;
}
.footer a{
    text-decoration: none;
    color: white;
}
.card{
    padding: 1rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}